version: "3"
services:
  builder:
    build:
      context: .
      dockerfile: builder.Dockerfile
    container_name: 'book-builder'
    volumes:
      - ./book/:/book/src/
      - input:/book/input/
      - output:/book/output/
    command: >
      sh -c "cp -r /book/src/* /book/input/ &&
            mdbook build /book/input/ -d /book/output/"

  web-server:
    build:
      context: .
      dockerfile: web-server.Dockerfile
    container_name: 'book-server'
    volumes:
      - output:/usr/share/nginx/html/
    ports:
      - "${HOST_IP}:80:80"
      - "${HOST_IP}:443:443"
    environment:
      - NGINX_HOST=${HOST_NAME}
    restart: always

volumes:
  input:
  output:
